<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main_content">
        {{>header}}
        <img src="/img/me.png" class="portrait">
        <p class="lb-info"><span>Name:</span> Ly Hien Phuc</p>
        <p class="lb-info"><span>Birthday:</span> 24/06/1999</p class="lb-info">
        <p class="lb-info"><span>Nationality:</span> Viet Nam</p class="lb-info">
    </div>
    {{>footer}}
</body>

</html>