<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Weather</title>
</head>

<body>
    <div class="main_content">
        {{>header}}
        <p>Use this website to get your weather</p>
        
        <input id="search-bar" placeholder="Location...">
        <button id="btn-search" onclick="SearchWeather()">Search</button>
        
        <h3 id="info-1"></h3>
        <h3 id="info-2"></h3>
        <h2 id="error-message"></h2>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>